@font-face {
    font-family: Museo;
     font-display: auto;
    src: url(/assets/fonts/Museo700-Regular.ttf);
   	font-weight: bold;
}
@font-face {
    font-family: Museo;
     font-display: auto;
    src: url(/assets/fonts/Museo300-Regular.ttf);
}
*{
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: #000;
	color:#fff;
}
h1, h2, p, li{
	font-family: Museo, Arial;
	font-weight: 300;
}
h1{
	font-size: 60px;
}
p{
	font-size: 18px;
}
.bold {
	font-weight:700;
}
a {
	text-decoration: none;
	color:inherit;
}
textarea:focus , input:focus
{
	outline:0;
	border-color: #fff;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
main {
 max-width: 1440px;
 margin: auto;
}
header {
	position: relative;
    padding: 0 30px;
    margin-top: 60px;
    z-index: 10000;
}
.container{
	margin-bottom: 80px;
}
.nav-icon{
	width: 80px;
    position: absolute;
    right: 20px;
    top: -10px;
}
.logo {
	position: relative;
    width: 64px;
}
/* Burger Menu */
.hamburger {
	padding: 15px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible; 
}

.hamburger-box {
	width: 50px;
	height: 24px;
	display: inline-block;
	position: relative; 
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 50px;
	height: 3px;
	background-color: #fff;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease; 
}
.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block; 
}
.hamburger-inner::before {
	top: -15px; 
}
.hamburger-inner::after {
	bottom: -15px; 
}

/*burger menu  animate*/
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 13px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 27px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -27px, 0) rotate(-90deg); }
    .hamburger-text{
	    position: relative;
	    bottom: 15px;
	    right: 70px;
    	font-size: 18px;
    	font-weight: 300;
    }
.menu{
    opacity: 0;
    padding: 200px 0 120px;
    position: fixed;
    bottom: 0;
    left: -99999px;
    right: 99999px;
    top: 0;
    transform: translateY( 1rem );
    transition: opacity .3s ease-in-out, transform .3s ease-in-out, left 0s .3s, right 0s .3s;
    z-index: 9999;
    background-color: #000;
}
.menu.active {
	left: 0;
    right: 0;
    opacity: 1;
    transform: translateY( 0 );
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}
.menu__inner{
	max-width: 1440px;
	margin: auto;
	background-color: #000;
}
.menu__item {
	list-style: none;
	font-size: 60px;
	line-height: 2;
}
.menu__link{
  position: relative;
}

.menu__link:after{
  content: '';
  position: absolute;
  width: 0; height: 5px;
  display: block;
  margin-top: 5px;
  right: 0;
  bottom: 27px;
  background: #6ef7c8;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.menu__link:hover:after{
  width: 100%;
  left: 0;
  background: #6ef7c8;
}
.lock-screen{
	height: 100%;
    position: fixed;
    width: 100%;
}

.presentation {
    margin-top: 80px;
}
.presentation__title{
	transition: 0.5s;
    margin: 40px 15px;
}
.project{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}
.project__item{
	position: relative;
	min-width: 300px;
	width: 45%;
	margin: 1em;
	background: url("https://picsum.photos/1000/650") no-repeat center;
	background-size: contain;
	height: 420px;
	overflow: hidden;
}
.project__item--project1{
	background: url("/assets/images/BURGER/1000x650_BURGER.jpg") no-repeat center;
	background-size: contain;
}
.project__item--project2{
	background: url("/assets/images/AU REGAL/1000x650_REGAL.png") no-repeat center;
	background-size: contain;
}
.project__item--project3{
	background: url("/assets/images/PENDU/1000x650_PENDU.png") no-repeat center;
	background-size: contain;
}
.project__item--project4{
	background: url("/assets/images/TODO/1000x650_TODO.jpg") no-repeat center;
	background-size: contain;
}
.js-fadeIn__item{
	opacity: 0;
	transition: 1s;
	transform: translateY(20px);
}
.project__item:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.project__item:hover:after{
	opacity: 0.7;
}
.project__title{
	position: absolute;
	bottom: 40%;
	z-index: 2;
    margin: 0;
    text-align: center;
    font-size: 4em;
    opacity: 1;
    width: 100%;
}
.overlay{
	opacity: 0;
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	z-index: 2;
	transition: 0.3s ease-in-out;
}
.overlay:hover{
	opacity: 1;
	transform: translateY(-10px);
}
footer{
	border-top: 1px solid #505050;
}
.footer{
	max-width: 1440px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
	
}
.footer__social{
	display: inline-block;
	margin: 40px 0;
}
.footer__link{
	margin: 35px;
	font-size: 18px;
	transition: 0.5s;
	color: #505050;
}
.footer__link:hover{
	color: #ffffff;
}
.footer__inner--left{
   margin-right: 45em;
}
.footer--menu {
	position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}
.contact-text{
	padding-left: 30px;
	font-size: 30px;
}
.form{
	margin-top: 60px;
	padding-left: 30px;
	min-width: 300px;
	width: 50%;
}
.form__field{
	font-family: Museo, Arial;
	font-weight: 300;
	background-color: #000;
	border: none;
	border-bottom: 1px solid #151515;
	display: inline-block;
	width: 100%;
	color: #fff;
	font-size: 40px;
	margin-bottom: 80px;
    padding-bottom: 20px;
}
.form__field:focus{
	border-color: #6ef7c8;
}
.form__field--text-area{
	resize: none;
	height: 200px;
	border: 1px solid #151515;
	font-size: 30px;
	padding-top: 20px;
	padding-left: 20px;
}
.form__button {
	font-family: Museo, Arial;
	font-weight: 300;
    font-size: 40px;
    cursor: pointer;
    margin-bottom: 100px;
}
.form__button{
  position: relative;
}

.form__button:after{
  content: '';
  position: absolute;
  width: 0; 
  height: 5px;
  display: block;
  margin-top: 5px;
  right: 0;
  bottom: 17px;
  background: #6ef7c8;
  transition: width .2s ease;
}
 
.form__button:hover:after{
  width: 100%;
  left: 0;
  background: #6ef7c8;
}
.about {
	margin-top: 60px;
    padding-left: 30px;
    min-width: 330px;
    width: 50%;
}
.about__title {
	font-size: 40px;
	font-weight: 700;
}
.about__text {
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: 100px;
}
.about__button{
	margin-bottom: 80px;
}
.hoverline{
	position: relative;
	text-decoration: line-through;
	text-decoration-color: #6ef7c8;
}
.download-arrow{
	padding-left: 30px;
}
.homeproject__title{
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
}
.homeproject__content{
	display: flex;
	flex-wrap: wrap;
}
.homeproject__item{
	align-self: center;
}
.homeproject__title2{
	font-size: 40px;
	font-weight: bold;
}
.homeproject__text{
	font-size: 24px;
	line-height: 1.5;
}
.homeproject__image{
	width: 100%;
}
.homeproject__landscape{
	width: 100%;
}
.homeproject__navigation{
	display: flex;
	flex-wrap: wrap;
}
.navigation__button{
	width: 50%;
	border: 1px solid #151515;
	text-align: center;
	padding: 40px;
}

@media screen and (min-width: 320px) {
	.project__item{
		height: 200px;
		
	}
	.project__title{
		font-size: 3em;
	}
	h1{
		font-size: 40px;
		padding: 20px;
	}
	.menu__item{
		font-size: 40px;
	}
	.homeproject__item{
		width: 100%;
	}
	.homeproject__description{
		padding-left: 20px;
		padding-right: 20px;
	}
	.homeproject__title2, .about__title{
		font-size: 30px;
		font-weight: bold;
	}
	.homeproject__text, .about__text, .contact-text{
		font-size: 20px;
		line-height: 1.5;
	}
	.navigation__button{
		width: 100%;
		padding: 40px;
		font-size: 30px;
	}
	.navigation__button a {
		font-size: 30px;
	}
	.form__field {
		font-size: 30px;
	}
	.form{
		margin-top: 60px;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.project__item{
		height: 250px;
	}
	.project__title{
		font-size: 3em;
	}
	h1{
		font-size: 60px;
	}
	.footer--menu{
		display: block;
	}
	.menu__item{
		font-size: 60px;
	}
	.homeproject__item{
		width: 50%;
	}
	.homeproject__title2, .about__title{
		font-size: 40px;
		font-weight: bold;
	}
	.homeproject__text, .about__text, .contact-text{
		font-size: 24px;
		line-height: 1.5;
	}
	.navigation__button{
		width: 50%;
		padding: 40px;
	}
	.navigation__button a {
		font-size: 40px;

	}
	.form__field {
		font-size: 40px;
	}
	.form{
		margin-top: 60px;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
	}


}

@media screen and (min-width: 1200px) {
	.project__item{
		height: 420px;
	}
	.project__title{
		font-size: 4em;
	}
	.homeproject__description{
    	width: 80%;
	}
	.homeproject__description{
		padding-left: 60px;
	}
	.navigation__button{
		padding: 80px;
	}
	.form{
		margin-top: 60px;
		padding-left: 30px;
		min-width: 300px;
		width: 50%;
	}
}