<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Yoan Hillion | About</title>
	<link rel="icon" type="image/png" href="assets/images/favicon64px-black.png" />
</head>
<body>
	<main class="main">
		<%= require('./header.ejs')() %>
		<h1 class="presentation"><span class="bold">Programm</span> <span class="hoverline">or be programmed !</span></h1>
		
		<section class="about">
			<h2 class="about__title">About me</h2>

			<p class="about__text">I’m Yoan, a french Front-end developper based in Paris and from
			Martinique. I just like building interface and interactive experiences. I also had the chance to collaborate with differents companies such as Rueducommerce.fr , Publicis Group as Chemistry agency, Leo Burnett. I'm code lover so let's get in touch ! :)</p>

			<h2 class="about__title">Skills</h2>

			<p class="about__text">HTML / CSS 3 - Bootstrap - Responsive design  - JQuery - Javascript (ES6) - React - Wordpress - MySQL / Php - Drupal - Adobe Photoshop - Webpack - Gulp …</p>

			<p class="about__button"><a href="assets/images/CV_YoanHillion.pdf" class="form__button" download>Full CV</a><img src="assets/images/dowload.svg" alt="download-arrow" class="download-arrow"></p>

		</section>
	</main>
	<%= require('./footer.ejs')() %>
</body>
</html>		
