<footer>
	<div class="footer">
		<div class="footer__inner--left">
			<p class="footer__social"><a class="footer__link" href="">yoan.hillion@hotmail.fr</a></p>
		</div>
		<div class="footer__inner--right">
			<p class="footer__social"><a class="footer__link" href="">Linkedin</a></p>
			<p class="footer__social"><a class="footer__link" href="">Twitter</a></p>
			<p class="footer__social"><a class="footer__link" href="">Github</a></p>
		</div>
	</div>	
</footer>