<header>
	<div class="logo"><img src="assets/images/logoyh-white.svg" alt="LOGOYH_white"></div>
	<div class="nav-icon">

		<div class="hamburger hamburger--slider">

			<div class="hamburger-box">
			<div class="hamburger-inner"></div>
			<p class="hamburger-text">menu</p>
			</div>
		</div>
	</div>
</header>
<nav class="menu">
	<div class="menu__inner">
		<ul>
			<li class="menu__item"><a class="menu__link" href="/index.html">Works</a></li>
			<li class="menu__item"><a class="menu__link" href="/about.html">About</a></li>
			<li class="menu__item"><a class="menu__link" href="/contact.html">Contact</a></li>
		</ul>
		
	</div>
	<footer class="footer--menu">
		<div class="footer">
			<div class="footer__inner--left">
				<p class="footer__social"><a class="footer__link" href="mailto:yoan.hillion@hotmail.fr">yoan.hillion@hotmail.fr</a></p>
			</div>
			<div class="footer__inner--right">
				<p class="footer__social"><a class="footer__link" href="https://www.linkedin.com/in/yoan-hillion-b94322a4">Linkedin</a></p>
				<p class="footer__social"><a class="footer__link" href="https://twitter.com/Y0anH">Twitter</a></p>
				<p class="footer__social"><a class="footer__link" href="https://github.com/yoan972">Github</a></p>
			</div>
		</div>	
	</footer>
</nav>