<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('./gtag.ejs')() %>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Yoan Hillion | Au Regal</title>
	<link rel="icon" type="image/png" href="assets/images/favicon64px-black.png" />
</head>
<body>
	<main class="main">
		<%= require('./header.ejs')() %>
		<div class="homeproject__header">
			<h1 class="homeproject__title js-fade__text">Au Regal</h1>
		</div>
		<section class="homeproject__content">
			<div class="homeproject__item">
				<div class="homeproject__description">
					<h2 class="homeproject__title2">Bake the world a better place !</h2>
					<p class="homeproject__text">This is a commercial website which aim to present a bakery based in Martinique. The website has been build with Bootstrap 4.</p>
				</div>
			</div>
			<div class="homeproject__item js-fadeIn__item">
				<img class="homeproject__image" src="assets/images/AU REGAL/720px2_REGAL.png">
			</div>
			<div class="homeproject__landscape js-fadeIn__item">
				<img class="homeproject__image" src="assets/images/AU REGAL/1440x480_REGAL.jpg">
			</div>
			<div class="homeproject__item js-fadeIn__item">
				<img class="homeproject__image" src="assets/images/AU REGAL/720px2_REGAL.jpg">
			</div>
			<div class="homeproject__item js-fadeIn__item">
				<div class="homeproject__description">
					<h2 class="homeproject__title2">Eat more cake and Taste fresh pastries</h2>
				</div>
			</div>
		</section>
		<div class="homeproject__navigation">
			<div class="navigation__button"><a class="form__button" href="/original-foodtruck.html">Previous project</a></div>
			<div class="navigation__button"><a class="form__button" href="/pendu.html">Next project</a></div>
		</div>

	</main>
	<%= require('./footer.ejs')() %>
</body>
</html>		
