<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Yoan Hillion | Original Foodtruck</title>
	<link rel="icon" type="image/png" href="assets/images/favicon64px-black.png" />
</head>
<body>
	<main class="main">
		<%= require('./header.ejs')() %>
		<div class="homeproject__header">
			<h1 class="homeproject__title js-fade__text">Original Foodtruck</h1>
		</div>
		<section class="homeproject__content">
			<div class="homeproject__item">
				<div class="homeproject__description">
					<h2 class="homeproject__title2">Need a Street food ?</h2>
					<p class="homeproject__text">This website aim to present a burger foodtruck. Made with HTML5/CSS3 and vanilla Javascript.</p>
				</div>
			</div>
			<div class="homeproject__item js-fadeIn__item">
				<img class="homeproject__image" src="assets/images/BURGER/720px1_BURGER.jpg">
			</div>
			<div class="homeproject__landscape js-fadeIn__item">
				<img class="homeproject__image" src="assets/images/BURGER/1440x480_BURGER.jpg">
			</div>
			<div class="homeproject__item js-fadeIn__item">
				<img class="homeproject__image" src="assets/images/BURGER/720px3_BURGER.jpg">
			</div>
			<div class="homeproject__item js-fadeIn__item">
				<div class="homeproject__description">
					<h2 class="homeproject__title2">First We eat then we do everything else</h2>
				</div>
			</div>
		</section>
		<div class="homeproject__navigation">
			<div class="navigation__button"><a class="form__button" href="/pendu.html">Previous project</a></div>
			<div class="navigation__button"><a class="form__button" href="/au-regal.html">Next project</a></div>
		</div>

	</main>
	<%= require('./footer.ejs')() %>
</body>
</html>		
